{% extends "layout.html" %}

{% block title %}
    Tables
{% endblock %}

{% block body %}
  <div class='text'>
    <p>Choose parameter to update movie !</p>
     <form action="{{ url_for('update_movie') }}" method= "post" >
        <select  class="form-control" name="update_option">
                  <option value="rate">Rate</option>
                  <option value="fees">Fees</option>
        </select>
        <input type="text" name="target_id" placeholder="Target ID" title="Type parameter value" required>
        <input type="text" name="param_value" placeholder="Type update parameter" title="Type parameter value" required>
        <button class="button">Choose</button>
    </form>
    </div>
{% endblock %}
