{% extends "layout.html" %}

{% block title %}
    Tables
{% endblock %}

{% block body %}
  <div class='text'>
    <p>Choose parameter to add Actors !</p>
     <form action="{{ url_for('insert_actor') }}" method= "post" >
            <input type="text" name="name_value" placeholder="Name of actor" title="Type parameter value" required>
            <input type="data"  name="birth_date" placeholder="Birth Date" title="Type parameter value" required>
            <input type="text" name="nationality" placeholder="Nationality" title="Type parameter value" required>
            <input type="text" name="gender" placeholder="Gender" title="Type parameter value" required>
            <input type="number"  step="any"  name="age" placeholder="Age" title="Type parameter value" required>

        <button class="button">Insert</button>
    </form>
    </div>
{% endblock %}
