<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" >
</head>
<style>

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
body {
  background-image: url("static/web_fone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


</style>
<body style="text-align:center;">

  <div class="container">
      <header>
        <img src="static/my_logo.png" alt="Movie choice" class="logo">

            <div class="navbar">
              <a  href="{{ url_for('index') }}">Home</a>
              <div class="subnav">
                <button   class="subnavbtn">Tables <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  <a href="{{ url_for('tables_choice') }}">View Data</a>
                  <a href="{{ url_for('search_m') }}">Search In Movies</a>
                  <a href="{{ url_for('search_a') }}">Search In Actors</a>
                  <a href="{{ url_for('get_movie_parameters') }}">Insert In Movies</a>
                  <a href="{{ url_for('get_actor_parameters') }}">Insert In Actors</a>
                  <a href="{{ url_for('update_option_movie') }}">Update  Movies</a>
                  <a href="{{ url_for('get_delete_parameters') }}">Delete (Danger Zone)</a>
                </div>
              </div>
              <div class="subnav">
                <button  class="subnavbtn">Databases <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  <a href="{{ url_for('get_database_name') }}">Create Database</a>
                  <a href="{{ url_for('drop_database_name') }}">Delete Database</a>
                </div>
              </div>
              <div class="subnav">
                <button class="subnavbtn">Authors <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  <a href="https://github.com/AlexanderSlav/">Alexander Slavutin</a>
                  <a href="https://github.com/PVSemk">Pavel Semkin</a>
                </div>
              </div>

            </div>

      </header>

      <h1>{% block heading %}{% endblock %}</h1>
      {% block body%}
      {% endblock %}






</body>
</html>
