{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block body %}
<div class = "welcome">
   <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Movie<span class="w3-hide-small"> Choice</span></span>
   <div>
      <h1>Welcome! Choose and Watch!</h1>
      <p>The purpose of this site is to help people find a brilliant film as fast as possible.
      <a style ="text-align:center"target="_blank" href="https://github.com/AlexanderSlav/Python/tree/master/MvChoice">"Source code"</a> link.</p>
    </div>

</div>

{% endblock %}
